@font-face {
  font-family: 'Pixelify Sans';
  src: url('./fonts/PixelifySans-Regular-Normal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Press Start 2P';
  src: url('./fonts/PressStart2P-Regular-Normal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;

  /* Font Settings */
  font-family: 'Pixelify Sans', serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 25px;
  font-weight: 400;
}

body {
  background-color: rgb(0, 0, 0);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#root {
  width: 1366px;
  /* Optional: Set a maximum width if needed */
  height: 607px;
  /* Optional: Set a maximum height if needed */
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin: 5px 20px;
  padding: 0;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 0;
}

.logo img {
  height: 24px;
  width: 25px;
  margin-bottom: 1px;
}

.logo a {
  list-style: none;
  text-decoration: none;
  color: white;
}

/* Menu */
.navbar ul {
  display: flex;
  margin: 0;
  gap: 40px;
}

.navbar li {
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: white;
}

/* Utility Classes */
.container {
  height: 503px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  flex-direction: column;
}

/* Boxes */
.box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 55%;
  width: 100%;

  padding: 10px 50px;
}

.box1 h1 {
  font-size: 95px;
  margin-bottom: 10px;
}

.box1 p {
  font-size: 30px;
  text-align: center;
}

.box2 {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 20px 40px;
}

.box2 img {
  height: 80px;
  width: 80px;
  margin: 30px 30px;
  transition: transform 0.3s ease, filter 0.3s ease;
  /* Smooth transition for both zoom and glow */
}

.box2 img:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 5px blue) drop-shadow(0 0 5px blue);
  transform: scale(1.1);
  /* Zoom effect */
}

.box2 p {
  font-size: 110px;
  transition: filter 0.5s ease, transform 0.5s ease;
  /* Transition for both filter and transform */
}

.box2 p:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 4px blue) drop-shadow(0 0 4px blue);
}

/* Home */
.para {
  text-align: center;
  margin-bottom: 30px;
}

.home h1 {
  font-size: 70px;
}

.home a {
  font-size: 40px;
  text-decoration: none;
  color: white;
  transition: filter 0.5s ease, transform 0.5s ease;
}

.home a:hover {
  filter: drop-shadow(0 0 4px blue) drop-shadow(0 0 4px blue);
}

/* About Component */
.social-icons{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}

.social-icons span {
  font-size: 30px;
}

.social-icons a img {
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: block;
}

/* Footer Component */
.footer {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px 0;
}

/* Game CSS */
.game-canvas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 30px;
}

/* Scoreboard Container */
.scoreboard-container {
  height: 503px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5px;
}

/* Header */
.scoreboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1330px;
  margin: 10px;
}

/* Header - Title */
.scoreboard-title {
  font-size: 36px;
  margin: 0;
  text-align: left;
}

/* Header - Delete Score Button */
.btn-clear-scores {
  background-color: #252525;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
}

/* Table Container */
.scoreboard-table-wrapper {
  /* Remove scrollbar */
  overflow-y: auto;
  /* Firefox */
  scrollbar-width: none;
  /* Internet Explorer 10+ */
  -ms-overflow-style: none;
}

.scoreboard-table-wrapper::-webkit-scrollbar {
  /* Chrome, Safari, Edge */
  display: none;
}

/* Table */
table {
  width: 1315px;
  /* removes spacing between cells */
  border-collapse: collapse;
}

/* Table Head */
table thead {
  position: sticky;
  top: 0px;
  background-color: #252525;
  z-index: 1;
}

/* Table Cells – Head and Body */
table thead th,
table tbody td {
  padding: 10px 20px;
  height: 40px;
  text-align: left;
  font-family: 'Press Start 2P';
  font-size: 16px;
}

/* Table Body - Hover Effect */
table tbody tr:hover {
  background-color: rgba(182, 182, 182, 0.1);
  cursor: pointer;
}

/* Empty Row - No Score Available*/
/* Prevent hover effects on the "No Scores Available" row */
.scoreboard-empty-row:hover {
  background-color: transparent;
  cursor: default;
}

/* Style the single cell in the empty state row */
.scoreboard-empty-row td {
  text-align: center;
  padding-top: 170px;
  font-size: 18px;
}

/* Rank font style */
.rank {
  font-family: 'Pixelify Sans';
  font-size: 28px;
}

/* Rank Color */
.rank.noob {
  color: #643d3d;
}

.rank.learner {
  color: #7c7c7c;
}

.rank.amateur {
  color: #4caa4d;
}

.rank.average {
  color: #c2d41a;
}

.rank.skilled {
  color: #6f00ff;
}

.rank.pro {
  color: #00ffbf;
  text-shadow: 0 0 8px #ffffff;
}

.rank.elite {
  color: #ff9800;
  font-weight: bold;
  text-shadow: 0 0 8px #00e1ff;
}

.rank.lethal {
  color: #000000;
  font-weight: bold;
  text-shadow: 0 0 5px #f44336, 0 0 10px #ff0000;
}

.rank.master {
  color: #c9c9c9;
  font-weight: bold;
  text-shadow: 0 0 10px #0066ff, 0 0 15px #0066ff;
}

.rank.conqueror {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-shadow: 0 0 10px gold, 0 0 20px gold;
}