@font-face {
  font-family: 'Pixelify Sans';
  src: url('./fonts/PixelifySans-Regular-Normal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Press Start 2P';
  src: url('./fonts/PressStart2P-Regular-Normal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;

  /* Font Settings */
  font-family: 'Pixelify Sans', serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 25px;
  font-weight: 400;
}

body {
  background-color: rgb(0, 0, 0);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#root {
  width: 1366px;
  /* Optional: Set a maximum width if needed */
  height: 607px;
  /* Optional: Set a maximum height if needed */
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin: 5px 0;
  padding: 0;
}

/* Logo */
.logo {
  display: flex;
  margin: 0;
  align-items: center;
  padding: 0 20px;
}

.logo img {
  height: 24px;
  width: 25px;
  margin: 0 6px;
  margin-bottom: 1px;
}

.logo a {
  list-style: none;
  text-decoration: none;
  color: white;
}

/* Menu */
.navbar ul {
  display: flex;
  margin: 0;
}

.navbar li {
  list-style: none;
  padding: 5px 20px;
}

.navbar a {
  text-decoration: none;
  color: white;
}

/* Utility Classes */
.container {
  height: 503px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  flex-direction: column;
}

/* Boxes */
.box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 55%;
  width: 100%;

  padding: 10px 50px;
}

.box1 h1 {
  font-size: 95px;
  margin-bottom: 10px;
}

.box1 p {
  font-size: 30px;
  text-align: center;
}

.box2 {
  display: flex;
  justify-content: center;
  height: 100%;
  height: 45%;
  width: 100%;
  padding: 20px 40px;
}

.box2 img {
  height: 80px;
  width: 80px;
  margin: 30px 30px;
  transition: transform 0.3s ease, filter 0.3s ease;
  /* Smooth transition for both zoom and glow */
}

.box2 img:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 5px blue) drop-shadow(0 0 5px blue);
  transform: scale(1.1);
  /* Zoom effect */
}

.box2 p {
  font-size: 110px;
  transition: filter 0.5s ease, transform 0.5s ease;
  /* Transition for both filter and transform */
}

.box2 p:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 4px blue) drop-shadow(0 0 4px blue);
}

/* Home */
.home h1 {
  font-size: 70px;
}

.home a {
  font-size: 40px;
  text-decoration: none;
  color: white;
  transition: filter 0.5s ease, transform 0.5s ease;
}

.home a:hover {
  filter: drop-shadow(0 0 4px blue) drop-shadow(0 0 4px blue);
}

/* Footer Component */
.footer {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px 0;
}

/* Game CSS */
.game-canvas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 30px;
}

/* Scoreboard Component */
.scorecontainer {
  height: 503px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5px;
}

/* Score Heading */
.scoreHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;

  display: flex;
  justify-content: space-between;
  /* <-- spread title & actions */
  align-items: center;
  width: 100%;
  /* <-- full width for spacing */
  max-width: 1330px;
  /* optional: constrain width */
  padding: 0 7px;
  margin-bottom: 8px;
}

/* Score Title */
.scoreTitle {
  font-size: 50px;

  font-size: 36px;
  text-align: left;
  margin: 0;
}

/* Score Actions */
.scoreActions {
  display: flex;
  justify-content: center;
  align-items: right;
  margin-left: 25px;
  gap: 10px;
}

/* Score Actions - Buttons */
.scoreActions button {
  background-color: #252525;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 25x;
  cursor: pointer;
}

/* Table Wrapper / Table Container */
.table-wrapper {
  /* Remove scrollbar */
  overflow-y: auto;
  /* Firefox */
  scrollbar-width: none;
  /* Internet Explorer 10+ */
  -ms-overflow-style: none;
}

.table-wrapper::-webkit-scrollbar {
  /* Chrome, Safari, Edge */
  display: none;
}


/* table */
table {
  max-height: 400px;
  width: 1315px;
  /* removes spacing between cells */
  border-collapse: collapse;
}

/* Table Head */
table thead {
  height: 30px;
  background-color: #252525;
  position: sticky;
  top: 0px;
  z-index: 1;
}

/* Apply to all header cells */
table thead th {
  height: 20px;
  text-align: left;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 30px;
}

/* Apply to all body cells */
table tbody td {
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
}

/* Change cursor to pointer on hover */
table tbody tr:hover {
  background-color: rgba(182, 182, 182, 0.1);
  cursor: pointer;
}

/* Rank Color */
.rank.noob {
  color: #643d3d;
}

.rank.learner {
  color: #7c7c7c;
}

.rank.amateur {
  color: #4caa4d;
}

.rank.average {
  color: #c2d41a;
}

.rank.skilled {
  color: #6f00ff;
}

.rank.pro {
  color: #00ffbf;
  text-shadow: 0 0 8px #ffffff;
}

.rank.elite {
  color: #ff9800;
  font-weight: bold;
  text-shadow: 0 0 8px #00e1ff;
}

.rank.lethal {
  color: #000000;
  font-weight: bold;
  text-shadow: 0 0 5px #f44336, 0 0 10px #ff0000;
}

.rank.master {
  color: #c9c9c9;
  font-weight: bold;
  text-shadow: 0 0 10px #0066ff, 0 0 15px #0066ff;
}

.rank.conqueror {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-shadow: 0 0 10px gold, 0 0 20px gold;
}